@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "Restaurants";
}

<h1>Restaurants</h1>

<form method="get">
    <div class="input-group mb-3">
        <input type="search" class="form-control"
               placeholder="Restaurant's name" aria-label="Restaurant's name" aria-describedby="button-addon2"
               asp-for="SearchTerm">
        <button class="btn btn-outline-secondary">
            <i class="glyphicon glyphicon-search"></i>
        </button>
    </div>
</form>

<div class="card-deck">
    @foreach (var restaurant in Model.Restaurants)
    {
        <partial name="_Summary" model="restaurant" />
    }
</div>
    <a asp-page=".\Edit" class="btn btn-primary">Add New</a>

    @section footer {
        <div>
            @Model.Message
        </div>
    }
